parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        analyse:
            - tests/bootstrap.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
