# This file is an example of .env.dist file with default values and can be used as is
# Default values are compatible with symfony .enf default values
# Copy this file to .env and edit values if needed

COMPOSE_PROJECT_NAME=my-awesome-app-ci
APP_NAME=my-awesome-app-ci
POSTGRES_PASSWORD=!ChangeThisAwesomeSecret!